.vscode/
dw.json
storefront-reference-architecture/package-lock.json
app_practice/cartridges/app_practice_cartridge/cartridge/static/default/js/search/search.js
app_practice/cartridges/app_practice_cartridge/cartridge/static/default/js/productDetail.js
app_practice/cartridges/app_practice_cartridge/cartridge/static/default/js/product/detail.js
package-lock.json
app_practice/cartridges/app_practice_cartridge/cartridge/static/default/js/checkout.js
app_practice/cartridges/app_practice_cartridge/cartridge/static/default/js/checkout/billing.js
app_practice/cartridges/app_practice_cartridge/cartridge/static/default/js/checkout/checkout.js
coverage/