# Node.js
node_modules/
npm-debug.log
package-lock.json
package.json
# VSCode lokalne konfiguracije
.vscode/
*.code-workspace

# SFCC statični i generisani fajlovi
*.log
site_template/static/
sitedata/**/static/
.project
.settings

cartridges/app_practice_cartridge/cartridge/static/default/js/search.js
cartridges/app_practice_cartridge/cartridge/static/app_practice_cartridge/
# DW JSON file (osetljive informacije)
dw.json

# OS specifični fajlovi
.DS_Store
Thumbs.db

C:\Users\stefa\OneDrive\Documents\s_jelkic_1sfcc_core\app_practice\cartridges\app_practice_cartridge\cartridge\static\default\js\search
